// About carousel

.about-carousel-wrapper {
	padding-left: 10px;
	text-align: center;
	margin-top: 30px;
	overflow: hidden;

	@include lg {
		overflow: visible;
		margin-top: 0;
		text-align: left;
		padding-left: 0;
		position: absolute;
		width: 50%;
		left: 50%;
		top: 100px;
	}

	.flickity-prev-next-button {
		margin: 0 10px;
		
		@include lg {
			margin: 0;
			margin-left: 40px;	
		}
		
		&.previous {
			@include lg {
				margin-left: 290px;
			}
		}
	}
}

.about-carousel {
	outline: none;
	overflow: hidden;
	display: none;

	@include sm {
		display: block;
	}
}

.about-carousel__item {
	margin-right: 30px;
	width: 260px;

	&.bigger {
		width: 550px;
	}
	.img-placeholder {
		margin-bottom: 30px;
	}
}


.about-carousel-mobile {
	@include sm {
		display: none;
	}

	.about-carousel__item {
		width: 250px;
		margin-right: 10px;
	}
}
