// Footer

.footer {
	padding: 60px 0 50px;
	background: $primary-color;
	text-align: center;
	a {
		color: white;
		text-align: center;
		font-size: 2rem;
		font-weight: 300;
		@include sm { 
			font-size: 2rem;
		}

		br {
			@include sm {
				display: none;
			}
		}
	}
}

.footer__link {
	display: block; 
	.btn {
		box-shadow: none;
		margin: 0;
	}
}