// Gain list

.gain-list {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	padding: 20px 0;
	@include md {
		padding: 0;
		margin-top: 60px;
		justify-content: space-between;
	}

	@include lg {
		padding: 0;
		margin-top: 60px;
	}
	li {
		margin: 0 5px 10px;
		padding: 0;
		width: 46%;
		padding: 0 15px;
		height: 125px;
		text-align: center;
		background: white; 
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: $primary-color;
		line-height: 20px;
		font-size: 1.5rem;
		text-transform: uppercase;
		box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.1);
		transition: all linear 0.2s;

		@include md {
			width: 165px;
			font-size: 1.6rem;
			padding: 0 5px;
			height: 170px;
			margin: 0;
			font-weight: 700;
		}

		@include lg {
			width: 200px;
			height: 200px;
			margin-right: 0;
		}

		&:hover {
			background: $primary-color;
			color: white;
			box-shadow: 0 8px 30px 8px rgba(0,0,0,.15);
			path {
				fill: white;
			}
		}
	}	

	svg {
		margin: 0 auto 10px;
		@include md {
			margin: 0 auto 30px;
		}
		path {
			transition: all linear 0.2s;
			fill: $primary-color;
		}
	}
}

.gain-list__title {
	font-size: 1.3rem;

	@include sm {
		font-size: 1.5rem;		
	}
}