// Harmonogram

.harmonogram__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	@include sm {
		margin-top: 40px;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		flex-basis: 100%;
		padding: 30px;
		height: 220px;
		position: relative;
		box-shadow: 0 3px 10px 0px rgba(0,0,0,.1);
		transition: all linear 0.1s;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-item: center;
		justify-content: center;
		@include sm {
			flex-basis: 50%;		
		}

		@include lg {
			flex-basis: 33%;		
		}

		&.active {
			box-shadow: 0 8px 30px 8px rgba(0,0,0,.15);
			background: $primary-color;
			color: #fff;
			text-decoration: none;
			p,.harmonogram__title,.harmonogram__number {
				color: #fff;
			}
		}
		p {
			font-size: 1.4rem;
			line-height: 25px;
			margin-bottom: 0;
			margin-top: 10px;
		}
	}
}

.harmonogram__title {
	font-size: 1.8rem;
	color: $primary-color;
	display: block;
	text-transform: uppercase;
}

.harmonogram__number {
	font-size: 1.8rem;
	color: black;
	display: block;
	strong {
		font-size: 3.6rem;
		font-weight: 700;
	}
}