// Header

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	top: 0;
	transition: all 0.2s ease-in-out;

	.btn {
		@include md {
			display: none;
		}
		@include lg {
			display: inline-block;
		}
	}

	.container {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;	
		transition: all 0.2s ease-in-out;

		@include xs {
			padding: 0 20px;
		}

		@include lg {
			height: 145px;
		}
	}
	.logo {
		z-index: 100;
		position: relative;
		img {
			height: 40px;
			transition: all 0.2s ease-in-out;

			@include lg {
				height: 60px;
			}
		}
	}
		&.small {
		position: fixed;
		background: white;
		.container {
			height: 60px;
			@include lg {
				height: 80px;
			}
		}
		img {
			@include md {
				height: 40px;
			}
		}
	}

	.back {
		font-size: 1.6rem;
		color: #000;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}


.nav-up {
	top: -60px;
	@include sm {
		top: -145px;
	}
}