// Hero

.hero {
	height: 500px;
	background: url("../img/hero-bg.jpg") center no-repeat;
	background-size: cover;
	position: relative;

	@include sm {
		height: 760px;
	}

	@include lg {
		height: 800px;
	}

	.absolventi & {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.hero__content {
	position: absolute;
	bottom: 50px;
	text-align: center;
	width: 80vw;
	left: 50%;
	transform: translateX(-50%);

	@include sm {
		bottom: 100px;
	}

	.absolventi & {
		position: static;
		bottom: auto;
		transform: none;
		left: auto;
	}
}

.hero__date {
	font-size: 1.6rem;
	margin-bottom: 30px;
	text-transform: uppercase;
	display: block;

	@include sm {
		margin-bottom: 55px;
		font-size: 2.4rem;
	}

	.absolventi & {
		@include sm {
			margin-bottom: 0;
			font-size: 1.9rem;
			max-width: 800px;
			margin: 0 auto;
		}		
	}
}

.hero__social {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: 0 13px;
		path {
			transition: all linear 0.3s;
		}
		a {
			&:hover path {
				fill:#000;
			}
		}
	}
}