// Section

.section {
	&.about-us {
		padding: 50px 0 20px;
		position: relative;

		@include sm {
			padding: 60px 0;
		}

		@include lg {
			padding: 100px 0 130px;
		}
	}
	&.gain {
		padding: 50px 0;
		background: url("../img/gain-bg.jpg") center no-repeat;
		background-size: cover;

		@include sm {
			padding: 60px 0;
		}

		@include lg {
			padding: 180px 0;
		}
	}
	&.harmonogram {
		padding: 50px 0 0;
		@include sm {
			padding: 60px 0 0;
		}

		@include lg {
			padding: 100px 0 0;
		}
	}
	&.contact {
		padding: 50px 0 200px;
		background: url("../img/contact-bg.jpg") center bottom no-repeat;
		background-size: 1200px;

		@include sm {
			background: url("../img/contact-bg.jpg") center bottom no-repeat;
			height: 880px;
			padding: 100px 0 0;
		}

		@include xxl {
			background-size: 100% auto;
		}
	}
	&.speakers,
	&.speakers-android {
		padding: 50px 0 0;
		@include sm {
			padding: 60px 0 0;
		}

		@include lg {
			padding: 110px 0 0;
		}

		h2 {
			text-align: center;

			@include sm {
				text-align: left;
			}

			&:after {
				left: 50%;
				transform: translateX(-50%);

				@include sm {
					transform: none;
					left: 0;
				}
			}
		}
	}
}