// Speakers list

.speakers-list .flickity-slider {
	transform: translate3d(0px, 0px, 0px) !important;
}
.speakers-list,
.speakers-list-android {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	outline: none;
	display: none;

	@include sm {
		display: block;
	}
	
	.flickity-prev-next-button {
		display: none;
	}

	.speaker__item {
		margin: 0;
		padding: 0;
		width: 33.33333%;
		float: left;
		text-align: center;
		a {
			display: block;
			height: 220px;
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: all linear 0.2s;
			&:hover {
				.speakers-list__name {
					color: white;
					text-decoration: none;
				}
			}
		}
		&.is-selected .speakers-list__name {
			color: white;
		}
	}
}

.speakers-list__name {
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}
.speaker-1 {
	a {
		background-image: url("../img/speakers/slider/urban_petr.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/urban_petr_red.jpg");
	}
}
.speaker-2 {
	a {
		background-image: url("../img/speakers/slider/beles_miroslav_white.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/beles_miroslav_red.jpg");
	}
}
.speaker-3 {
	a{
		background-image: url("../img/speakers/slider/pecev_adam_white.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/pecev_adam_red.jpg");
	}
}
.android .speaker-1 {
	a{
		background-image: url("../img/speakers/slider/bien_radek_white.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/bien_radek_red.jpg");
	}
}
.android .speaker-2 {
	a{
		background-image: url("../img/speakers/slider/valentovic_boris_white.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/valentovic_boris_red.jpg");
	}
}
.android .speaker-3 {
	a{
		background-image: url("../img/speakers/slider/oleksandr_balan_white.jpg");
	}
	&.is-selected a, a:hover {
		background-image: url("../img/speakers/slider/oleksandr_balan_red.jpg");
	}
}